.add-product {
  width: 100%;
  max-width: 1700px;
  margin-right: 200px;
  margin-left: 100px;
  margin: auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.add-product h2 {
  text-align: center;
  font-size: 30px;
}

.add-product label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.add-product input,
.add-product textarea,
.add-product select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.4;
  box-sizing: border-box;
}

/* Force textarea to match input height unless manually resized */
.add-product textarea {
  resize: vertical;
  height: 40px;
  min-height: 40px;
}

/* Make select height consistent */
.add-product select {
  height: 40px;
}


.publish-btn {
  background: #20BFA5;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.publish-btn:hover {
  background: #20BFA5;
}
